@import "tailwindcss";

@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }

    .animate__delay-1-5s {
        animation-delay: 1.5s !important;
    }

    .animate__delay-2-5s {
        animation-delay: 2.5s !important;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink {

        0%,
        49% {
            border-color: currentColor;
        }

        50%,
        100% {
            border-color: transparent;
        }
    }

    .animate-typing {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid currentColor;
        animation:
            typing 3s steps(22) 1.5s forwards,
            blink 0.75s step-end 5 forwards 1.5s;
        /* blink hanya 5 iterasi (~6 detik) */
    }
}